In [52]:
import turicreate

# Load data from Wikipedia

In [53]:
people = turicreate.SFrame('../../data/people_wiki.sframe')

In [54]:
people

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [55]:
people['word_count'] = turicreate.text_analytics.count_words(people['text'])

In [56]:
people

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'parade... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'society': 1.0, 'hamilton... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, '2007': 1.... |
| sam henderson born october... | {'asses': 1.0, 'sic': 1.0,... |
| aaron lacrate is an americ... | {'streamz': 1.0, 'includin... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'heavies': 1.0, 'new': 1.... |
| cathy caruth born 1955 is ... | {'2002': 1.0, 'harvard': 1... |
+-------------------------------+-------------------------------+
[59071 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Adding TF-IDF

In [57]:
people['tfidf'] = turicreate.text_analytics.tf_idf(people['text'])

In [58]:
people

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'parade... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'society': 1.0, 'hamilton... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, '2007': 1.... |
| sam henderson born october... | {'asses': 1.0, 'sic': 1.0,... |
| aaron lacrate is an americ... | {'streamz': 1.0, 'includin... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'heavies': 1.0, 'new': 1.... |
| cathy caruth born 1955 is ... | {'2002': 1.0, 'harvard': 1... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'melbourne': 3.8914310119... |
| {'time': 1.325334207420049... |
| {'society': 2.444804726208... |
| {'kurdlawitzpreis': 10.986... |
| {'curtis': 5.2995200328853... |
| {'asses': 9.60020102810530... |
| {'streamz': 10.98649538922... |
| {'concordia': 6.2502969408... |
| {'heavies': 8.907053847545... |
| {'2002': 1.875312588782230... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Analysis for Elton John

In [59]:
john = people[people['name'] == 'Elton John']

In [60]:
john

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'movements': 1.0, 'social... | {'movements': 5.0306580197... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [61]:
john['text']

dtype: str
Rows: ?
['sir elton hercules john cbe born reginald kenneth dwight 25 march 1947 is an english singer songwriter composer pianist record producer and occasional actor he has worked with lyricist bernie taupin as his songwriter partner since 1967 they have collaborated on more than 30 albums to datein his fivedecade career elton john has sold more than 300 million records making him one of the bestselling music artists in the world he has more than fifty top 40 hits including seven consecutive no 1 us albums 58 billboard top 40 singles 27 top 10 four no 2 and nine no 1 for 31 consecutive years 19702000 he had at least one song in the billboard hot 100 his single something about the way you look tonightcandle in the wind 1997 sold over 33 million copies worldwide and is the bestselling single of all time he has received six grammy awards five brit awards winning two awards for outstanding contribution to music and the first brits icon in 2013 for his lasting impact on british culture an academy award a golden globe award a tony award a disney legend award and the kennedy center honors in 2004 in 2004 rolling stone ranked him number 49 on its list of 100 influential musicians of the rock and roll era in 2008 billboard ranked him the most successful male solo artist on the billboard hot 100 top alltime artists third overallelton john was inducted into the rock and roll hall of fame in 1994 is an inductee into the songwriters hall of fame and is a fellow of the british academy of songwriters composers and authors having been named a commander of the order of the british empire in 1996 john received a knighthood from elizabeth ii for services to music and charitable services in 1998 john has performed at a number of royal events such as the funeral of princess diana at westminster abbey in 1997 the party at the palace in 2002 and the queens diamond jubilee concert outside buckingham palace in 2012he has been heavily involved in the fight against aids since the late 1980s in 1992 he established the elton john aids foundation and a year later began hosting the annual academy award party which has since become one of the highestprofile oscar parties in the hollywood film industry since its inception the foundation has raised over 200 million john who announced he was bisexual in 1976 and has been openly gay since 1988 entered into a civil partnership with david furnish on 21 december 2005 and after gay marriage became legal in england wed furnish on 21 december 2014 he continues to be a champion for lgbt social movements worldwide and samesex marriage', ... ]

# Another entry for Victoria Beckham

In [62]:
beckham = people[people['name'] == 'Victoria Beckham']

In [63]:
beckham

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------------+
|              URI              |       name       |
+-------------------------------+------------------+
| <http://dbpedia.org/resour... | Victoria Beckham |
+-------------------------------+------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| victoria caroline beckham ... | {'week': 1.0, 'york': 1.0,... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'week': 3.57252509903475,... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [64]:
beckham['text']

dtype: str
Rows: ?
['victoria caroline beckham ne adams born 17 april 1974 is an english businesswoman fashion designer model and singer in the late 1990s beckham rose to fame with the allfemale pop group spice girls and was dubbed posh spice by the july 1996 issue of the british music magazine top of the pops after the spice girls split she was signed to virgin records and telstar records and had four uk top 10 singles her first release out of your mind reached number 2 in the uk singles chartbeckham has participated in five official documentaries and reality shows about her including being victoria beckham the real beckhams and victoria beckham coming to america she has since made a cameo appearance in an episode of ugly betty and been a guest judge on project runway germanys next topmodel and american idol she is married to david beckham and they have four children as of 2014 the couples joint wealth is estimated at 380 millionin the past decade beckham has become an internationally recognised style icon and fashion designer following highprofile collaborations with other brands she launched an eponymous label in 2008 and a lowerpriced diffusion label in 2011 the victoria beckham label was named designer brand of the year in the uk in 2011 in 2012 the brand was assessed as the star performer in the beckham familys business interests writing in the daily telegraph in 2011 belinda white noted that the transition from wag to fashion designer had been more successful than most had predicted saying she has gathered a significant celebrity following and won over the scathing fashion pack who now clamour for a ticket to her biannual show at new york fashion week', ... ]

# Word count for Elton John

In [65]:
john['word_count'] = turicreate.text_analytics.count_words(john['text'])

In [66]:
john

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'movements': 1.0, 'social... | {'movements': 5.0306580197... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

# Word count for Victoria Beckham

In [67]:
beckham['word_count'] = turicreate.text_analytics.count_words(beckham['text'])

In [68]:
beckham

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+------------------+
|              URI              |       name       |
+-------------------------------+------------------+
| <http://dbpedia.org/resour... | Victoria Beckham |
+-------------------------------+------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| victoria caroline beckham ... | {'week': 1.0, 'york': 1.0,... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'week': 3.57252509903475,... |
+-------------------------------+
[1 rows x 5 columns]

# Find highest word counts

In [69]:
john_word_count_table = john[['word_count']].stack('word_count', new_column_name = ['word', 'count'])

In [70]:
john_word_count_table.sort('count', ascending=False)

Columns:
	word	str
	count	float

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  27.0 |
|   in  |  18.0 |
|  and  |  15.0 |
|   of  |  13.0 |
|   a   |  10.0 |
|  has  |  9.0  |
|   he  |  7.0  |
|  john |  7.0  |
|   on  |  6.0  |
| since |  5.0  |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [71]:
beckham_word_count_table = beckham[['word_count']].stack('word_count', new_column_name = ['word', 'count'])

In [72]:
beckham_word_count_table.sort('count', ascending=False)

Columns:
	word	str
	count	float

Rows: 175

Data:
+----------+-------+
|   word   | count |
+----------+-------+
|   the    |  19.0 |
|    in    |  12.0 |
|   and    |  12.0 |
| beckham  |  8.0  |
|    to    |  6.0  |
|    of    |  6.0  |
| fashion  |  5.0  |
|   she    |  5.0  |
|    a     |  5.0  |
| victoria |  4.0  |
+----------+-------+
[175 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Examine the TF-IDF for Elton John

In [73]:
john = people[people['name'] == 'Elton John']

In [76]:
john[['tfidf']].stack('tfidf', new_column_name = ['word', 'tfidf']).sort('tfidf', ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+--------------------+
|      word     |       tfidf        |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
|  overallelton | 10.986495389225194 |
| tonightcandle | 10.986495389225194 |
|    19702000   | 10.293348208665249 |
|   fivedecade  | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [77]:
beckham = people[people['name'] == 'Victoria Beckham']

In [78]:
beckham[['tfidf']].stack('tfidf', new_column_name=['word', 'tfidf']).sort('tfidf', ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 175

Data:
+--------------+--------------------+
|     word     |       tfidf        |
+--------------+--------------------+
|   beckham    | 56.922355026538426 |
|   fashion    | 21.165287353137074 |
|    spice     | 19.928069902114533 |
|   victoria   | 15.766361088383295 |
|   designer   | 15.619147212478477 |
| lowerpriced  | 10.986495389225194 |
| chartbeckham | 10.986495389225194 |
|    label     |  9.90513433710723  |
|   clamour    | 9.887883100557085  |
|   topmodel   | 9.600201028105303  |
+--------------+--------------------+
[175 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Compute the cosine distance

In [80]:
john_to_beckham = turicreate.distances.cosine(john['tfidf'][0], beckham['tfidf'][0])

In [81]:
john_to_beckham

0.9567006376655429

In [82]:
paul = people[people['name'] == 'Paul McCartney']

In [83]:
john_to_paul = turicreate.distances.cosine(john['tfidf'][0], paul['tfidf'][0])

In [84]:
john_to_paul

0.8250310029221779

# Building nearest neighbors model using word counts as features

In [85]:
knn_model = turicreate.nearest_neighbors.create(people,features=['word_count'],label='name', distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

### Finding entries closest to Elton John using word counts as features

In [86]:
knn_model.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 7.013ms      |

| Done         |         | 100         | 78.394ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-----------------------+------+
| query_label |  reference_label  |        distance       | rank |
+-------------+-------------------+-----------------------+------+
|      0      |     Elton John    | 2.220446049250313e-16 |  1   |
|      0      |   Cliff Richard   |  0.16142415258967036  |  2   |
|      0      |   Sandro Petrone  |  0.16822542751041114  |  3   |
|      0      |    Rod Stewart    |  0.16832716558706107  |  4   |
|      0      | Malachi O'Doherty |   0.177315545978884   |  5   |
+-------------+-------------------+-----------------------+------+
[5 rows x 4 columns]

### Finding entries closest to Victoria Beckham using word counts as features

In [87]:
knn_model.query(beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 6.084ms      |

| Done         |         | 100         | 78.061ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+------------------------+------+
| query_label |     reference_label      |        distance        | rank |
+-------------+--------------------------+------------------------+------+
|      0      |     Victoria Beckham     | -2.220446049250313e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |  0.20730703611504997   |  2   |
|      0      |      Adrienne Corri      |  0.21450978278754795   |  3   |
|      0      |     Beverly Jane Fry     |  0.21746646874079278   |  4   |
|      0      |      Raman Mundair       |  0.21769547499150488   |  5   |
+-------------+--------------------------+------------------------+------+
[5 rows x 4 columns]

# Building nearest neighbors model using TF-IDF counts as features

In [88]:
knn_model = turicreate.nearest_neighbors.create(people,features=['tfidf'],label='name', distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

### Finding entries closest to Elton John using TF-IDF as features

In [89]:
knn_model.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 12.204ms     |

| Done         |         | 100         | 94.627ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+------------------------+------+
| query_label | reference_label  |        distance        | rank |
+-------------+------------------+------------------------+------+
|      0      |    Elton John    | -2.220446049250313e-16 |  1   |
|      0      |   Rod Stewart    |   0.7172196678927374   |  2   |
|      0      |  George Michael  |   0.7476009989692848   |  3   |
|      0      | Sting (musician) |   0.7476719544306141   |  4   |
|      0      |   Phil Collins   |   0.7511932487904706   |  5   |
+-------------+------------------+------------------------+------+
[5 rows x 4 columns]

### Finding entries closest to Victoria Beckham using TF-IDF as features

In [90]:
knn_model.query(beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 5.385ms      |

| Done         |         | 100         | 81.868ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]